pymongo==3.11.4
requests==2.25.1
setuptools==57.0.0
click==8.0.1
colorama==0.4.4
dicttoxml==1.7.4
pandas==1.2.5
python-dateutil==2.8.1
tqdm==4.61.1
urllib3==1.26.6
ijson==3.1.4
ansicolors==1.1.8
jsonpickle==2.0.0
redis==3.5.3